<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>BSC_yanzhu131.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,228},{15,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,2}}</string>
        <key>sourceSize</key>
        <string>{15,2}</string>
      </dict>
      <key>BSC_yanzhu13.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,185},{14,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,15}}</string>
        <key>sourceSize</key>
        <string>{14,15}</string>
      </dict>
      <key>BSC_yankuang12.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,140},{20,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,19}}</string>
        <key>sourceSize</key>
        <string>{20,19}</string>
      </dict>
      <key>BSC_luntai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,120},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>BSC_yanchen16.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,161},{125,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,22}}</string>
        <key>sourceSize</key>
        <string>{125,22}</string>
      </dict>
      <key>BSC_yanchen14.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,162},{126,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,20}}</string>
        <key>sourceSize</key>
        <string>{126,20}</string>
      </dict>
      <key>BSC_yanchen15.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,184},{122,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,19}}</string>
        <key>sourceSize</key>
        <string>{122,19}</string>
      </dict>
      <key>BSC_yanchen13.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,185},{109,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,14}}</string>
        <key>sourceSize</key>
        <string>{109,14}</string>
      </dict>
      <key>BSC_yanchen12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{109,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,12}}</string>
        <key>sourceSize</key>
        <string>{109,12}</string>
      </dict>
      <key>BSC_yanchen1.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{98,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,11}}</string>
        <key>sourceSize</key>
        <string>{98,11}</string>
      </dict>
      <key>BSC_shuzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,0},{7,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,18}}</string>
        <key>sourceSize</key>
        <string>{7,18}</string>
      </dict>
      <key>BSC_kuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,171},{28,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,28}}</string>
        <key>sourceSize</key>
        <string>{28,28}</string>
      </dict>
      <key>BSC_chechuang13.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,113},{16,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,25}}</string>
        <key>sourceSize</key>
        <string>{16,25}</string>
      </dict>
      <key>BSC_chechuang122.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,101},{30,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,35}}</string>
        <key>sourceSize</key>
        <string>{30,35}</string>
      </dict>
      <key>BSC_chechuang133.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,174},{26,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,30}}</string>
        <key>sourceSize</key>
        <string>{26,30}</string>
      </dict>
      <key>BSC_chechuang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,204},{25,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,26}}</string>
        <key>sourceSize</key>
        <string>{25,26}</string>
      </dict>
      <key>BSC_chechuang222.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,20},{10,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,19}}</string>
        <key>sourceSize</key>
        <string>{10,19}</string>
      </dict>
      <key>BSC_chechuang22.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,128},{28,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,37}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>BSC_chechuang21.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,186},{26,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,28}}</string>
        <key>sourceSize</key>
        <string>{26,28}</string>
      </dict>
      <key>BSC_chechuang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,142},{25,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,27}}</string>
        <key>sourceSize</key>
        <string>{25,27}</string>
      </dict>
      <key>BSC_chechuang34.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,161},{15,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,23}}</string>
        <key>sourceSize</key>
        <string>{15,23}</string>
      </dict>
      <key>BSC_chechuang33.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,61},{33,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,38}}</string>
        <key>sourceSize</key>
        <string>{33,38}</string>
      </dict>
      <key>BSC_chechuang32.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,184},{25,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,27}}</string>
        <key>sourceSize</key>
        <string>{25,27}</string>
      </dict>
      <key>BSC_chechuang3.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,201},{26,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,27}}</string>
        <key>sourceSize</key>
        <string>{26,27}</string>
      </dict>
      <key>BSC_xian6.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,213},{30,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,7}}</string>
        <key>sourceSize</key>
        <string>{30,7}</string>
      </dict>
      <key>BSC_xian22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,207},{54,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,4}}</string>
        <key>sourceSize</key>
        <string>{54,4}</string>
      </dict>
      <key>BSC_xian2.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,205},{54,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,5}}</string>
        <key>sourceSize</key>
        <string>{54,5}</string>
      </dict>
      <key>BSC_xian3.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,205},{53,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,8}}</string>
        <key>sourceSize</key>
        <string>{53,8}</string>
      </dict>
      <key>BSC_xian.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,212},{53,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,3}}</string>
        <key>sourceSize</key>
        <string>{53,3}</string>
      </dict>
      <key>BSC_xian17.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,102},{10,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,8}}</string>
        <key>sourceSize</key>
        <string>{10,8}</string>
      </dict>
      <key>BSC_xian1.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,228},{13,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,9}}</string>
        <key>sourceSize</key>
        <string>{13,9}</string>
      </dict>
      <key>BSC_dangniban245.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,218},{19,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,16}}</string>
        <key>sourceSize</key>
        <string>{19,16}</string>
      </dict>
      <key>BSC_dangniban2.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,215},{32,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,17}}</string>
        <key>sourceSize</key>
        <string>{32,17}</string>
      </dict>
      <key>BSC_bizi 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,228},{13,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,13}}</string>
        <key>sourceSize</key>
        <string>{13,13}</string>
      </dict>
      <key>BSC_bizi.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,41},{12,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,13}}</string>
        <key>sourceSize</key>
        <string>{12,13}</string>
      </dict>
      <key>BSC_zuiba518.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,212},{36,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,13}}</string>
        <key>sourceSize</key>
        <string>{36,13}</string>
      </dict>
      <key>BSC_zuiba517.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,56},{9,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,12}}</string>
        <key>sourceSize</key>
        <string>{9,12}</string>
      </dict>
      <key>BSC_zuiba516.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,202},{24,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,14}}</string>
        <key>sourceSize</key>
        <string>{24,14}</string>
      </dict>
      <key>BSC_zuiba515.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,216},{33,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,14}}</string>
        <key>sourceSize</key>
        <string>{33,14}</string>
      </dict>
      <key>BSC_zuiba514.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,212},{39,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,18}}</string>
        <key>sourceSize</key>
        <string>{39,18}</string>
      </dict>
      <key>BSC_zuiba512.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,207},{46,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,11}}</string>
        <key>sourceSize</key>
        <string>{46,11}</string>
      </dict>
      <key>BSC_zuiba4.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,220},{26,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,8}}</string>
        <key>sourceSize</key>
        <string>{26,8}</string>
      </dict>
      <key>BSC_zuiba8.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,112},{7,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,11}}</string>
        <key>sourceSize</key>
        <string>{7,11}</string>
      </dict>
      <key>BSC_zuiba10.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,222},{21,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,13}}</string>
        <key>sourceSize</key>
        <string>{21,13}</string>
      </dict>
      <key>BSC_zuiba517_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,89},{9,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,11}}</string>
        <key>sourceSize</key>
        <string>{9,11}</string>
      </dict>
      <key>BSC_zuiba5.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,212},{21,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,16}}</string>
        <key>sourceSize</key>
        <string>{21,16}</string>
      </dict>
      <key>BSC_zuiba22.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,217},{26,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,9}}</string>
        <key>sourceSize</key>
        <string>{26,9}</string>
      </dict>
      <key>BSC_zuiba.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,217},{26,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,9}}</string>
        <key>sourceSize</key>
        <string>{26,9}</string>
      </dict>
      <key>BSC_dangniban123.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,206},{28,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,21}}</string>
        <key>sourceSize</key>
        <string>{28,21}</string>
      </dict>
      <key>BSC_dangniban1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{32,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,17}}</string>
        <key>sourceSize</key>
        <string>{32,17}</string>
      </dict>
      <key>BSC_chelun12.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,50},{23,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,22}}</string>
        <key>sourceSize</key>
        <string>{23,22}</string>
      </dict>
      <key>BSC_chelun1.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,97},{21,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>BSC_chelun223.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,227},{15,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,14}}</string>
        <key>sourceSize</key>
        <string>{15,14}</string>
      </dict>
      <key>BSC_chelun2.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,74},{21,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>BSC_yanjiemao.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,140},{5,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,2}}</string>
        <key>sourceSize</key>
        <string>{5,2}</string>
      </dict>
      <key>BSC_gaoguang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,133},{5,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,5}}</string>
        <key>sourceSize</key>
        <string>{5,5}</string>
      </dict>
      <key>BSC_gaoguang2.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,133},{4,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,3}}</string>
        <key>sourceSize</key>
        <string>{4,3}</string>
      </dict>
      <key>BSC_yanzhu245.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,229},{15,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,2}}</string>
        <key>sourceSize</key>
        <string>{15,2}</string>
      </dict>
      <key>BSC_yanzhu24.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,227},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,14}}</string>
        <key>sourceSize</key>
        <string>{14,14}</string>
      </dict>
      <key>BSC_yanzhu278.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,138},{4,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,3}}</string>
        <key>sourceSize</key>
        <string>{4,3}</string>
      </dict>
      <key>BSC_yanzhu2.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,125},{11,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,6}}</string>
        <key>sourceSize</key>
        <string>{11,6}</string>
      </dict>
      <key>BSC_yanzhu.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,228},{13,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,15}}</string>
        <key>sourceSize</key>
        <string>{13,15}</string>
      </dict>
      <key>BSC_yanba8.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,213},{19,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,18}}</string>
        <key>sourceSize</key>
        <string>{19,18}</string>
      </dict>
      <key>BSC_yanbai.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,215},{16,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,20}}</string>
        <key>sourceSize</key>
        <string>{16,20}</string>
      </dict>
      <key>BSC_chechuang45.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,13},{58,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,35}}</string>
        <key>sourceSize</key>
        <string>{58,35}</string>
      </dict>
      <key>BSC_chechuang41.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,13},{34,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,46}}</string>
        <key>sourceSize</key>
        <string>{34,46}</string>
      </dict>
      <key>BSC_chechuang42.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,93},{33,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,33}}</string>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>BSC_chechuang44.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,138},{28,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,34}}</string>
        <key>sourceSize</key>
        <string>{28,34}</string>
      </dict>
      <key>BSC_chechuang43.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,167},{26,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,35}}</string>
        <key>sourceSize</key>
        <string>{26,35}</string>
      </dict>
      <key>BSC_chechuang4.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,50},{32,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,41}}</string>
        <key>sourceSize</key>
        <string>{32,41}</string>
      </dict>
      <key>BSC_cheshen5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,89},{120,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,77}}</string>
        <key>sourceSize</key>
        <string>{120,77}</string>
      </dict>
      <key>BSC_cheshen1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{133,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,87}}</string>
        <key>sourceSize</key>
        <string>{133,87}</string>
      </dict>
      <key>BSC_cheshen2.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,0},{133,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,79}}</string>
        <key>sourceSize</key>
        <string>{133,79}</string>
      </dict>
      <key>BSC_cheshen4.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,0},{130,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,84}}</string>
        <key>sourceSize</key>
        <string>{130,84}</string>
      </dict>
      <key>BSC_cheshen3.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,81},{132,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,78}}</string>
        <key>sourceSize</key>
        <string>{132,78}</string>
      </dict>
      <key>BSC_cheshen.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,86},{126,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,74}}</string>
        <key>sourceSize</key>
        <string>{126,74}</string>
      </dict>
      <key>BSC_yingzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,168},{110,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,23}}</string>
        <key>sourceSize</key>
        <string>{110,23}</string>
      </dict>
      <key>BSC_yingzi.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,201},{99,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,9}}</string>
        <key>sourceSize</key>
        <string>{99,9}</string>
      </dict>
      <key>BSC_shuzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,92},{13,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,19}}</string>
        <key>sourceSize</key>
        <string>{13,19}</string>
      </dict>
      <key>BSC_shuzi3.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,70},{14,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,20}}</string>
        <key>sourceSize</key>
        <string>{14,20}</string>
      </dict>
      <key>BSC_shuz4.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,220},{15,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,20}}</string>
        <key>sourceSize</key>
        <string>{15,20}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>88bashiche5224.png</string>
      <key>textureFileName</key>
      <string>88bashiche5224.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>